fastapi
uvicorn
pydantic
sentence-transformers
sentencepiece
python-dotenv
protobuf
einops
timm
requests
ddgs
watchdog>=4.0.0
sse-starlette
opencv-python
pandas
psutil
python-multipart
plotly
easyocr
yt-dlp
